<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/daisyui/2.14.3/full.min.css"
        integrity="sha512-2UxzP8LNrP4edDA1yr8Dxo1mMjb7yB0mqbpIh4Lk0R9M56+nZzU7GDLqXKb5e2Syc+o5GH+DHBjxVyGryz0IkA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
  </head>
  <body>
    <div h-screen class="flex flex-col justify-center mt-24 items-center">
      <div class="text-center">
        <a href="/docs">
            <button class="btn btn primary btn-outline">Docs</button>
        </a>
  </body>
</html>
